# Removing_Columns_and_Rows

##  ----  Quick Summary ----

---
# Removing Columns
## drop() with column parameter
### --> summer.drop(columns="Sport")
### --> summer.drop(columns="Sport",inplace=True)
### --> summer.drop(columns=["City","Sport"])
### --> summer.drop(columns=["City","Sport"],inplace=True)
---
## drop() with label parameter
### --> summer.drop(labels="Country", axis=1)
### --> summer.drop(labels="Country", axis=1, inplace=True)
### --> summer.drop(labels="Medal", axis="columns")
### --> summer.drop(labels="Medal", axis="columns", inplace=True)
---
## remove with del method
### del summer["Event"]
---
## rewriting without column
### summer = summer.loc[:,["Year","City","Discipline","Athlete","Country","Gender","Event","Medal"]]
---
---
---
---
# Removing Rows
## drop() with index parameter
### --> summer.drop(index="HAJOS, Alfred",inplace=True
### --> summer.drop(labels="DRIVAS, Dimitrios", axis=0, inplace=True)

# Removing Columns

In [42]:
print("--"*500)

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# PART1: "summer" DATASET

In [1]:
import pandas as pd

In [25]:
summer = pd.read_csv("summer.csv")

In [3]:
summer.head(10)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver
8,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze
9,1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold

In [6]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
       'Event', 'Medal'],
      dtype='object')

og = "olympic games"

# drop( columns = "..." ) remove 1 column

In [15]:
summer.drop(columns="Sport")

,Year,City,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

# drop( columns = [ "..." , "..." ] ) more than 1 column

In [18]:
summer.drop(columns=["City","Sport"])

,Year,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...
31160,2012,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [16]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
       'Event', 'Medal'],
      dtype='object')

# drop() + inplace = True

In [23]:
summer.drop(columns="Sport",inplace=True)

In [24]:
summer.columns

Index(['Year', 'City', 'Discipline', 'Athlete', 'Country', 'Gender', 'Event',
       'Medal'],
      dtype='object')

In [26]:
summer.drop(columns=["City","Sport"],inplace=True)

In [27]:
summer.columns

Index(['Year', 'Discipline', 'Athlete', 'Country', 'Gender', 'Event', 'Medal'], dtype='object')

In [41]:
print("--"*500)

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Instead of columns we can use also label parameter.

# drop( label = "...", axis=1 ) remove 1 column, axis 1 mean column

In [32]:
summer.drop(labels="Country", axis=1, inplace= True)

In [34]:
summer.head()

,Year,Discipline,Athlete,Gender,Event,Medal
0,1896,Swimming,"HAJOS, Alfred",Men,100M Freestyle,Gold
1,1896,Swimming,"HERSCHMANN, Otto",Men,100M Freestyle,Silver
2,1896,Swimming,"DRIVAS, Dimitrios",Men,100M Freestyle For Sailors,Bronze
3,1896,Swimming,"MALOKINIS, Ioannis",Men,100M Freestyle For Sailors,Gold
4,1896,Swimming,"CHASAPIS, Spiridon",Men,100M Freestyle For Sailors,Silver

# drop( label = "...", axis="columns" ) remove 1 column, axis "columns" mean column

In [35]:
summer.drop(labels="Medal", axis="columns", inplace=True)

In [36]:
summer.head()

   Year Discipline             Athlete Gender                       Event
0  1896   Swimming       HAJOS, Alfred    Men              100M Freestyle
1  1896   Swimming    HERSCHMANN, Otto    Men              100M Freestyle
2  1896   Swimming   DRIVAS, Dimitrios    Men  100M Freestyle For Sailors
3  1896   Swimming  MALOKINIS, Ioannis    Men  100M Freestyle For Sailors
4  1896   Swimming  CHASAPIS, Spiridon    Men  100M Freestyle For Sailors

In [39]:
print("--"*500)

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# remove with del method

In [37]:
del summer["Event"]
summer.head()

   Year Discipline             Athlete Gender
0  1896   Swimming       HAJOS, Alfred    Men
1  1896   Swimming    HERSCHMANN, Otto    Men
2  1896   Swimming   DRIVAS, Dimitrios    Men
3  1896   Swimming  MALOKINIS, Ioannis    Men
4  1896   Swimming  CHASAPIS, Spiridon    Men

In [43]:
print("--"*500)

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# remove with overwriting again

In [61]:
summer = pd.read_csv("summer.csv")

In [62]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

## We did not add "Sport" column

In [63]:
summer = summer.loc[:,["Year","City","Discipline","Athlete","Country","Gender","Event","Medal"]]

In [64]:
summer.head()

,Year,City,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [65]:
print("--"*500)

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Removing Rows

In [71]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [72]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

# drop( index = "..." ) remove 1 column

In [73]:
summer.drop(index="HAJOS, Alfred",inplace=True)

In [74]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze

In [75]:
summer.drop(labels="HERSCHMANN, Otto",inplace=True)

In [76]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver

# drop( label = "...", axis=0 ) remove row, axis 0 mean row

In [77]:
summer.drop(labels="DRIVAS, Dimitrios", axis=0, inplace=True)

In [78]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze

In [86]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [87]:
mask1 = summer["Year"] == 1996
mask2 = summer["Sport"] == "Aquatics"

1996 or Aquatics are dismissed from our list

In [88]:
summer = summer.loc[~(mask1 | mask2)]

In [82]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [89]:
(summer["Year"]==1996).value_counts()

False    25398
Name: Year, dtype: int64

There is no 1996 year in our list.

In [90]:
1996 in summer.Year.values

False

In [91]:
summer.Sport.isin(["Aquatics"]).any()

False