# Creating_DataFrames_from_Scratch_with_pd.DataFrame()

##  ----  Quick Summary ----

### Add a new column
### titanic["Zeros"] = 0
### titanic.ones = 0 gives an error
---

# PART1: creating own DATASET

In [1]:
import pandas as pd

## Having columns in place

In [2]:
player = ["Lionel Messi","Cristiano Ronaldo","Neymar Junior","Kylian Mbappe","Manuel Neuer"]

In [3]:
nationality = ["Argentina", "Portugal","Brasil","France","Germany"]

In [4]:
club = ["FC Barcelona","Juventus FC","Paris SG","Paris SG","FC Bayern"]

In [5]:
world_champion = [False, False, False, True, True]

In [6]:
height = [1.70, 1.87,1.75,1.78,1.93]

In [9]:
goals = [45,44,28,21,0]

In [10]:
dic = {"Player":player, "Nationality":nationality, "Club":club, "World_Champion":world_champion, "Height":height, "Goals_2018":goals}

In [11]:
dic

{'Player': ['Lionel Messi',
  'Cristiano Ronaldo',
  'Neymar Junior',
  'Kylian Mbappe',
  'Manuel Neuer'],
 'Nationality': ['Argentina', 'Portugal', 'Brasil', 'France', 'Germany'],
 'Club': ['FC Barcelona', 'Juventus FC', 'Paris SG', 'Paris SG', 'FC Bayern'],
 'World_Champion': [False, False, False, True, True],
 'Height': [1.7, 1.87, 1.75, 1.78, 1.93],
 'Goals_2018': [45, 44, 28, 21, 0]}

In [12]:
df = pd.DataFrame(data = dic)
df.head()

,Player,Nationality,Club,World_Champion,Height,Goals_2018
0,Lionel Messi,Argentina,FC Barcelona,False,1.70,45
1,Cristiano Ronaldo,Portugal,Juventus FC,False,1.87,44
2,Neymar Junior,Brasil,Paris SG,False,1.75,28
3,Kylian Mbappe,France,Paris SG,True,1.78,21
4,Manuel Neuer,Germany,FC Bayern,True,1.93,0

In [13]:
player = df.set_index("Player")
player

,Nationality,Club,World_Champion,Height,Goals_2018
Player,,,,,
Lionel Messi,Argentina,FC Barcelona,False,1.70,45
Cristiano Ronaldo,Portugal,Juventus FC,False,1.87,44
Neymar Junior,Brasil,Paris SG,False,1.75,28
Kylian Mbappe,France,Paris SG,True,1.78,21
Manuel Neuer,Germany,FC Bayern,True,1.93,0

# Having rows in place

In [15]:
list(zip(nationality,club,world_champion,height,goals))

[('Argentina', 'FC Barcelona', False, 1.7, 45),
 ('Portugal', 'Juventus FC', False, 1.87, 44),
 ('Brasil', 'Paris SG', False, 1.75, 28),
 ('France', 'Paris SG', True, 1.78, 21),
 ('Germany', 'FC Bayern', True, 1.93, 0)]

In [17]:
zipped = list(zip(nationality,club,world_champion,height,goals))

In [21]:
messi, ronaldo, neymar, mbappe, neuer = zipped

In [22]:
messi

('Argentina', 'FC Barcelona', False, 1.7, 45)

In [23]:
ronaldo

('Portugal', 'Juventus FC', False, 1.87, 44)

In [24]:
df = pd.DataFrame(data=[messi, ronaldo, neymar, mbappe, neuer], 
                  index=["Lionel Messi","Cristiano Ronaldo","Neymar Junior","Kylian Mbappe","Manuel Neuer"],
                 columns=["Nationality","Club","World_Champion","Height","Goals_2018"])

In [25]:
df

,Nationality,Club,World_Champion,Height,Goals_2018
Lionel Messi,Argentina,FC Barcelona,False,1.70,45
Cristiano Ronaldo,Portugal,Juventus FC,False,1.87,44
Neymar Junior,Brasil,Paris SG,False,1.75,28
Kylian Mbappe,France,Paris SG,True,1.78,21
Manuel Neuer,Germany,FC Bayern,True,1.93,0

In [26]:
df2 = pd.Series(index=player, data=nationality, name="Nationality")
df2

(Argentina, FC Barcelona, False, 1.7, 45)    Argentina
(Portugal, Juventus FC, False, 1.87, 44)      Portugal
(Brasil, Paris SG, False, 1.75, 28)             Brasil
(France, Paris SG, True, 1.78, 21)              France
(Germany, FC Bayern, True, 1.93, 0)            Germany
Name: Nationality, dtype: object

In [27]:
df2 = pd.Series(index=player, data=nationality, name="Nationality").to_frame()
df2

                                          Nationality
(Argentina, FC Barcelona, False, 1.7, 45)   Argentina
(Portugal, Juventus FC, False, 1.87, 44)     Portugal
(Brasil, Paris SG, False, 1.75, 28)            Brasil
(France, Paris SG, True, 1.78, 21)             France
(Germany, FC Bayern, True, 1.93, 0)           Germany

In [29]:
df2["club"]=club
df2

                                          Nationality          club
(Argentina, FC Barcelona, False, 1.7, 45)   Argentina  FC Barcelona
(Portugal, Juventus FC, False, 1.87, 44)     Portugal   Juventus FC
(Brasil, Paris SG, False, 1.75, 28)            Brasil      Paris SG
(France, Paris SG, True, 1.78, 21)             France      Paris SG
(Germany, FC Bayern, True, 1.93, 0)           Germany     FC Bayern